body {
    text-align: center;
    font-family: 'Bangers';
    font-size: 32px;
    margin: 0;
    margin-top: 10px;
    background-image: url('https://lh6.googleusercontent.com/--HWs4-eXciI/TXU-Jh1OYhI/AAAAAAAADDk/kRID-DcOud4/s1600/Scott+Pilgrim.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 30%;
    background-position-y: 70%;
}

nav {
    margin: 0;
    width: 98.9%;
    border-bottom: solid black 2px;
    background: rgb(29, 208, 253);
    padding: 10px;
}

button {
    background: none;
    border: none;
    outline:none;
    text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
    color: yellow;
    font-family: 'Bangers';
    font-size: 24px;
    margin: 10px;
}

button:hover,
button:focus {
    color: red;
    cursor: pointer;
}

main {
    display: inline-block;
    margin: 0;
}

.comic {
    background: red;
    text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
    color: white;
    font-size: 18px;
    border: black 2px solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
}

.comic h3 {
    font-size: 24px;
}
